.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-back {
  font-size: (12/10) * 1rem;
  width: (14/12) * 1em;
}
.icon-arrow-up {
  font-size: (9/10) * 1rem;
  width: (14/9) * 1em;
}
.icon-bike {
  font-size: (15/10) * 1rem;
  width: (24/15) * 1em;
}
.icon-block {
  font-size: (20/10) * 1rem;
  width: (20/20) * 1em;
}
.icon-calendar {
  font-size: (20/10) * 1rem;
  width: (20/20) * 1em;
}
.icon-car {
  font-size: (20/10) * 1rem;
  width: (24/20) * 1em;
}
.icon-cc {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}
.icon-check {
  font-size: (10/10) * 1rem;
  width: (12/10) * 1em;
}
.icon-cityprojects {
  font-size: (60/10) * 1rem;
  width: (193/60) * 1em;
}
.icon-decline {
  font-size: (12/10) * 1rem;
  width: (12/12) * 1em;
}
.icon-edit {
  font-size: (20/10) * 1rem;
  width: (20/20) * 1em;
}
.icon-heat {
  font-size: (28/10) * 1rem;
  width: (28/28) * 1em;
}
.icon-hq {
  font-size: (32/10) * 1rem;
  width: (176/32) * 1em;
}
.icon-layers {
  font-size: (18/10) * 1rem;
  width: (18/18) * 1em;
}
.icon-location {
  font-size: (24/10) * 1rem;
  width: (20/24) * 1em;
}
.icon-location-arrow {
  font-size: (19/10) * 1rem;
  width: (18/19) * 1em;
}
.icon-man {
  width: 32px;
  height: 32px;
}
.icon-map {
  font-size: (20/10) * 1rem;
  width: (20/20) * 1em;
}
.icon-motorbike {
  font-size: (14/10) * 1rem;
  width: (24/14) * 1em;
}
.icon-pedestrian {
  font-size: (22/10) * 1rem;
  width: (11/22) * 1em;
}
.icon-photo {
  font-size: (12/10) * 1rem;
  width: (16/12) * 1em;
}
.icon-pin {
  font-size: (50/10) * 1rem;
  width: (36/50) * 1em;
}
.icon-pointer {
  font-size: (37/10) * 1rem;
  width: (54/37) * 1em;
}
.icon-profile {
  font-size: (19/10) * 1rem;
  width: (17/19) * 1em;
}
.icon-profile-circle {
  font-size: (24/10) * 1rem;
  width: (24/24) * 1em;
}
.icon-question {
  font-size: (31.36/10) * 1rem;
  width: (31.36/31.36) * 1em;
}
.icon-search {
  font-size: (20/10) * 1rem;
  width: (20/20) * 1em;
}
.icon-telegram {
  font-size: (20/10) * 1rem;
  width: (24/20) * 1em;
}
.icon-twitter {
  font-size: (18/10) * 1rem;
  width: (22/18) * 1em;
}
.icon-videocamera {
  font-size: (20/10) * 1rem;
  width: (20/20) * 1em;
}
.icon-warning {
  font-size: (20/10) * 1rem;
  width: (19/20) * 1em;
}
.icon-wheel {
  font-size: (22/10) * 1rem;
  width: (22/22) * 1em;
}
.icon-zones {
  font-size: (162/10) * 1rem;
  width: (20/162) * 1em;
}
