.footer {
    background-color: $greyLight;
    padding-top: 30px;
    margin-top: auto;

    @include mq('768') {
        padding-top: 50px;
    }

    .footer-wrap {
        display: grid;
        gap: 24px 0;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        margin: 0 -10px 20px;

        @include mq('768') {
            grid-template-columns: repeat(2, 1fr);
            margin: 0 -20px 50px;
            gap: 44px 70px;
        }
    }

    .progress-wrap {
        width: 100%;

        @include mq('768') {
            width: 440px;
        }

        @include mq('1440') {
            width: 480px;
        }
    }
}

.social-link {
    align-items: center;
    border-radius: 8px;
    display: flex;
    overflow: hidden;
    padding: 6px;
    transition: background-color 0.3s ease;

    @include mq('768') {
        padding: 9px 8px;
    }

    .body2 {
        color: $white;
        font-size: calc(7rem / 9);

        @include mq('768') {
            font-size: calc(7rem / 8);
        }
    }
}

.social-tg {
    @extend .social-link;
    background-color: #0088cc;
    margin-right: 10px;

    &:hover {
        background-color: rgba(#0088cc, 0.9);
    }

    .icon-telegram {
        height: 13px;
        margin-right: 5px;
        width: 16px;

        @include mq('768') {
            height: 20px;
            margin-right: 11px;
            width: 23px;
        }
    }

    .body2 {
        margin-top: 2px;
    }
}

.social-tw {
    @extend .social-link;
    background-color: #1da1f2;

    &:hover {
        background-color: rgba(#1da1f2, 0.9);
    }

    .icon-twitter {
        height: 12px;
        margin-right: 6px;
        width: 16px;

        @include mq('768') {
            height: 17px;
            margin-right: 12px;
            width: 21px;
        }
    }

    .body2 {
        color: $white;
        margin-top: 2px;
    }
}

.icon-cityprojects {
    height: 60px;
    margin-right: 40px;
    transition: opacity 0.3s ease;
    width: calc(100% - 20px);

    @include mq('768') {
        width: 193px;
    }

    &:hover {
        opacity: 0.9;
    }
}

.icon-hq {
    height: 32px;
    transition: opacity 0.3s ease;
    width: 100%;

    @include mq('768') {
        width: 175px;
    }

    &:hover {
        opacity: 0.9;
    }
}

.link {
    color: $grey50;
    display: inline-block;
    margin-left: 24px;
    transition: color 0.3s ease;

    &:hover {
        color: $grey70;
    }
}
