.event-layer {
    background-color: $white;
    min-height: 100vh;
    z-index: 100;
}

.event-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    width: 100%;

    @include mq('768') {
        flex-direction: row;
    }
}

.btns-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 16px;

    @include mq('768') {
        flex-direction: row;
    }

    + .body1 {
        flex-direction: column;

        @include mq('768') {
            flex-direction: row;
        }
    }
}

.header-info-container {
    align-items: center;
    display: flex;
    display: grid;
    gap: 10px 10px;
    grid-template-columns: 1fr 1fr;
    width: fit-content;

    @include mq('768') {
        grid-template-columns: repeat(4, 1fr);
    }
}

.header-info {
    display: grid;
    gap: 4px 10px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;

    .icon {
        grid-row: 1 / -1;
        align-self: center;
    }

    .icon-car {
        height: 18px;
        width: 24px;
    }

    .icon-profile-circle {
        height: 22px;
        width: 22px;
    }

    .icon-profile {
        height: 19px;
        width: 16px;
    }
}

.category-tag-middle {
    @extend .category-tag;

    .btn-rect {
        background-color: $greyMiddle;
        &:hover {
            background-color: $grey50;
        }
    }
}

.dtp-info {
    align-items: center;
    border-radius: 8px;
    border: 1px solid $greyMiddle;
    display: flex;
    margin: 0 auto 32px;
    padding: 12px 20px;
    width: fit-content;
    flex-direction: column;

    @include mq('768') {
        flex-direction: row;
    }

    img {
        margin-right: 12px;
    }

    .subtitle1 {
        margin-bottom: 12px;

        @include mq('768') {
            margin-bottom: 0;
            margin-right: 12px;
        }
    }

    .icon-warning {
        height: 18px;
        margin-right: 9px;
        width: 18px;
    }
}

.comment {
    display: grid;
    gap: 10px 12px;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    margin-bottom: 18px;
}

.ava {
    border-radius: 50%;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    height: 28px;
    overflow: hidden;
    width: 28px;
    img {
        height: 100%;
        object-fit: contain;
        width: 100%;
    }
}
