.member-card {
    background-color: $white;
    border-radius: 20px;
    border: 1px solid #ebedf0;
    flex-shrink: 0;
    margin-bottom: 20px;
    margin-right: 12px;
    padding: 10px 16px 2px;
    width: 300px;
    .card-header {
        display: grid;
        gap: 2px 12px;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;
        margin-bottom: 8px;

        .icon-container {
            align-items: center;
            align-self: center;
            border-radius: 15px;
            display: flex;
            grid-column: 1 / 2;
            grid-row: 1 / -1;
            height: 26px;
            justify-content: center;
            overflow: hidden;
            padding: 5px;
            width: 26px;

            @include mq('768') {
                width: 32px;
                height: 32px;
            }
        }
    }

    .card-body,
    .card-add {
        border-radius: 4px;
        margin-bottom: 8px;
        padding: 5px 8px;
    }

    .card-body {
        margin-bottom: 8px;
    }

    .card-add {
        align-items: center;
        display: flex;

        .icon-warning {
            height: 22px;
            margin-right: 11px;
            width: 22px;
            flex-shrink: 0;
        }
    }

    // icons
    .icon-wheel {
        height: 22px;
        width: 22px;
    }

    .icon-profile {
        height: 19px;
        width: 16px;
    }

    .icon-warning-sign {
        height: 14px;
        width: 14px;
    }

    .icon-pedestrian {
        height: 22px;
        width: 12px;
    }

    .icon-bike {
        height: 15px;
        width: 24px;
    }

    .icon-motorbike {
        height: 14px;
        width: 23px;
    }
}
