.baloon {
  background-color: $white;
  border-radius: 8px;
  box-shadow: 0px 5px 15px #D4DADD;
  min-width: 240px;
  padding: 12px;
  pointer-events: all;

  .icon-pointer {
    filter: drop-shadow(0px 5px 15px #D4DADD);
    height: 57px;
    left: 50%;
    position: absolute;
    top: calc(100% - 19px);
    transform: translateX(-50%);
    width: 64px;
    pointer-events: none;
    fill: $white;
  }
}

.balloon-header {
  margin-bottom: 4px;
}

.baloon-body {
  padding-bottom: 4px;

  p {
    margin-bottom: 4px;
  }
}

.baloon-footer {
  display: flex;
  position: relative;

  .btn-light {
    margin: 0 auto;
  }


}
