.btn {
    border-radius: 20px;
    font-weight: 500;
    line-height: 1.5rem;
    padding: 6px 16px;
    position: relative;
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}

.btn-light {
    @extend .btn;
    background: $greyMiddle;
    color: $greyDark;
    &:hover,
    &:focus {
        background: $grey20;
        box-shadow: none;
    }
}

.btn-hideFilter {
    @extend .btn;
    align-items: center;
    background: $greyMiddle;
    bottom: -15px;
    display: flex;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    &:hover,
    &:focus {
        background-color: $grey20;
        box-shadow: none;
    }
    .icon-arrow-up {
        width: 12px;
        height: 8px;
        margin-right: 12px;
        pointer-events: none;
    }
}

.btn-search {
    border-radius: 50%;
    position: relative;
    padding: 0;
    padding: 9px 10px 8px 10px;
    background-color: transparent;

    &:hover,
    &:focus {
        box-shadow: none;
        .icon-search {
            stroke: $black;
        }
    }

    .icon-search {
        fill: none;
        stroke: $greyDark;
        width: 20px;
        height: 20px;
    }
}
