.category-filter {
    display: flex;
    flex-wrap: wrap;
}

.category-item {
    align-items: center;
    background: $greyLight;
    border-radius: 4px;
    display: flex;
    margin-bottom: 12px;
    margin-right: 8px;
    overflow: hidden;
    transition: background-color 0.3s ease;

    &.active {
        background-color: $grey70;
        .btn-preview {
            color: $white;
        }
        .btn-decline {
            display: block;
        }
    }

    &:hover, &:focus {
        background-color: $grey70;
        outline: none;
        .btn-preview {
            color: $white;
        }
        .icon-edit {
            fill: $white;
        }
    }

    button {
        background-color: transparent;
        &:focus, &:hover {
            box-shadow: none;
        }
    }

    .btn-preview {
        align-self: stretch;
        font-weight: normal;
        padding: 7px 8px;
        transition: color 0.3s ease;
        outline: none;
        color: $greyDark;
        display: flex;
        align-items: center;

    }
    .btn-decline {
        align-self: stretch;
        display: none;
        padding: 7px 10px;
    }

    .icon-decline {
        height: 12px;
        opacity: 0.5;
        pointer-events: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2px;
        stroke: $white;
        transition: opacity .3s ease, stroke .3s ease;
        width: 12px;
    }
}

.category-item__draw {
    @extend .category-item;
    position: relative;
    .icon-edit {
        fill: $greyDark;
        height: 17px;
        left: 10px;
        pointer-events: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: fill 0.3s ease;
        width: 17px; 
    }
    .btn-preview {
        padding-left: 36px;
    }
}

