.container {
  position: relative;
  width: 100%;
  max-width: $max-width;
  padding: 0 20px;
  margin: auto; 

  @include mq('768') {
    padding: 0 32px;
  }
  
  @include mq('1024') {
    padding: 0 40px;
  }

  @include mq('1280') {
    padding: 0 75px;
  }

  @include mq('1440') {
    padding: 0 140px;
  }
}