.filter-panel {
    max-width: 400px;
    background: $white;
    box-shadow: 0px 5px 15px #d4dadd;
    border-radius: 8px;
    padding: 20px 6px 10px 20px;
    pointer-events: all;
    position: relative;
    margin: 10px;
    @include mq('1440') {
        margin: 20px;
    }
}

.filter-content {
    height: 700px;
    overflow: auto;
    padding-right: 8px;
}

.filter-item {
    margin-bottom: 20px;

    ul {
        margin: 0;
        padding: 0;
        // inner ul
        > li ul {
            padding-left: 24px;
            position: relative;
            &:after {
                background-color: $greyMiddle;
                content: ''; 
                display: block;
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 1px;
            }
        }
    }

    .subtitle2 {
        margin-bottom: 12px;
        color: $greyDark;
    }
}

.filter-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #18334a;
}

.participant-filter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: 65px;

    @include mq('1440') {
        grid-auto-rows: 60px;
    }
}

.participant-item {
    align-items: center;
    background: $greyLight;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4px;
    transition: background 0.3s ease, color 0.3s ease;

    @include mq('1440') {
        padding: 8px;
    }

    &:hover,
    &:focus,
    &.active {
        background: $grey70;
        color: $white;
        object {
            filter: invert(1) grayscale(1) brightness(2);
        }
        .subtitle3 {
            color: $white;
        }
    }

    object {
        pointer-events: none;
    }

    .subtitle3 {
        font-size: 10px;
        text-align: center;
        color: $greyDark;
        @include mq('1440') {
            font-size: calc(3rem / 4);
        }
    }
}
