.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}
.icon-arrow-up {
	font-size:(9/10)*1rem;
	width:(14/9)*1em;
}
.icon-calendar {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-check {
	font-size:(10/10)*1rem;
	width:(12/10)*1em;
}
.icon-decline {
	font-size:(12/10)*1rem;
	width:(12/12)*1em;
}
.icon-edit {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-question {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}