#root {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex: 1;
  height: 100%;
  position: absolute;
  width: 100%;
}

.ui-layer {
  display: flex;
  flex-direction: column-reverse;
  pointer-events: none;
  z-index: 100;
  @include mq('1440') {
    flex-direction: row;
  }
}