#root {
  flex: 1;
  display: flex;
  overflow: hidden;
  position: relative;
}

.ui-layer {
  flex: 1;
  display: flex;
  pointer-events: none;
  z-index: 100;
  display: flex;
  align-items: flex-start;
}
