.news-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px 0;

    @include mq('768') {
        grid-template-columns: repeat(3, 1fr);
        gap: 50px 0;
    }
}
.news-item {
    border-radius: 16px;
    display: block;
    overflow: hidden;
    padding: 12px;
    transition: background-color 0.3s ease;
    width: fit-content;

    &:hover {
        background-color: $greyMiddle;
    }

    .h3 {
        transition: color 0.3s ease;
    }

    .img-wrap {
        border-radius: 12px;
        border: 1px solid #f4f8fa;
        display: block;
        height: 250px;
        margin-bottom: 14px;
        overflow: hidden;
        width: 100%;
        img {
            height: 100%;
            object-fit: cover;
            transition: transform 0.5s ease;
            width: 100%;
        }
    }

    .body2 {
        margin-top: 4px;
    }
}

.news-item-small {
    @extend .news-item;
    padding: 10px;

    .img-wrap {
        height: 200px;
        margin-bottom: 12px;
    }
}
