.toast {
  background: $white;
  border-radius: 8px;
  bottom: 40px;
  box-shadow: 0px 3px 7px #d4dadd;
  cursor: pointer;
  display: flex;
  height: 48px;
  padding: 8px 12px 8px 8px;
  pointer-events: all;
  position: absolute;
  right: 12px;
  width: 232px;

  .img {
    background-color: $greyLight;
    border-radius: 4px;
    flex-shrink: 0;
    height: 32px;
    margin-right: 8px;
    overflow: hidden;
    width: 32px;
    img {
      height: 100%;
      object-fit: contain;
      width: 100%;
    }
  }

  p {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
  }

  button {
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;

    &:hover,
    &:focus {
      .icon-decline {
        stroke: $grey70;
      }
    }
    .icon-decline {
      height: 10px;
      stroke: $grey20;
      transition: stroke 0.3s ease;
      width: 10px;
    }
  }
}

.progress-wrap {
  background: $grey10;
  border-radius: 3px;
  height: 6px;
  overflow: hidden;
  position: relative;
  width: 100%;

  .progress-bar {
    background-size: 212px;
    background: linear-gradient(to right, $red 0%, $yellow 50%, $green 100%);
    border-radius: 3px;
    height: 100%;
    overflow: hidden;
  }
}
