.zoom {
  align-items: center;
  background-color: $white;
  border-radius: 20px;
  box-shadow: 0px 3px 7px #d4dadd;
  display: flex;
  flex-direction: column;
  height: 240px;
  justify-content: space-between;
  padding: 8px 10px;
  pointer-events: all;
  position: relative;
  width: 40px;
}

.zoom-slider {
  -webkit-appearance: none;
  -webkit-transition: 0.2s;
  background: transparent;
  cursor: pointer;
  height: 40px;
  left: 0;
  outline: none;
  position: absolute;
  top: -2px;
  transform-origin: 0 100%;
  transform: rotate(90deg);
  width: 162px;
  z-index: 2;

  &:hover {
    ::-webkit-slider-thumb,
    ::-moz-range-thumb {
      background: $red;
    }
  }
}

.zoom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: $grey70;
  border-radius: 20px;
  cursor: pointer;
  height: 32px;
  transition: background 0.3s ease;
  width: 12px;

  &:hover {
    background: $greyDark;
  }
}
.zoom-slider::-moz-range-thumb {
  background: $grey70;
  border-radius: 20px;
  cursor: pointer;
  height: 32px;
  width: 12px;
}

.icon-zones {
  fill: $grey20;
  height: 162px;
  pointer-events: none;
  width: 20px;
  z-index: 1;
}

.hints-wrap {
  align-items: flex-end;
  display: none;
  flex-direction: column;
  height: 182px;
  justify-content: space-between;
  left: -150%;
  position: absolute;
  top: 30px;

  @include mq('768') {
    display: flex;
  }

  .hint {
    background: rgba($greyDark, 0.2);
    border-radius: 8px;
    color: $white;
    opacity: 0.9;
    padding: 4px 8px;
    transition: background 0.3s ease;

    &:hover,
    &:focus {
      background: rgba($greyDark, 0.7);
    }
  }
}
