.severity-item {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  position: relative;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked ~ .checkmark {
      background-color: $greyDark;
      .icon-check {
        display: block;
      }
    }
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:hover,
  &:focus {
    input ~ .checkmark {
      background-color: $grey50;
    }
  }

  .checkmark {
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid $greyMiddle;
    min-height: 18px;
    position: relative;
    transition: background-color 0.3s ease;
    min-width: 18px;

    .icon-check {
      display: none;
      height: 9px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 12px;
    }
  }
}

.severity-color {
  border-radius: 50%;
  height: 12px;
  margin-left: 11px;
  margin-right: 8px;
  width: 12px;
}
