.filter-panel {
    width: 400px;
    height: 700px;
    overflow: auto;
    margin: 20px 16px;
    background: #ffffff;
    box-shadow: 0px 5px 15px #d4dadd;
    border-radius: 8px;
    padding: 20px;
    pointer-events: all;
}

.filter-item {
    margin-bottom: 20px;
}

.filter-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #18334a;
}
