.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-back {
  font-size: calc(12/10) * 1rem;
  width: calc(14/12) * 1em;
}
.icon-arrow-up {
  font-size: calc(9/10) * 1rem;
  width: calc(14/9) * 1em;
}
.icon-bike {
  font-size: calc(15/10) * 1rem;
  width: calc(24/15) * 1em;
}
.icon-block {
  font-size: calc(20/10) * 1rem;
  width: calc(20/20) * 1em;
}
.icon-calendar {
  font-size: calc(20/10) * 1rem;
  width: calc(20/20) * 1em;
}
.icon-car {
  font-size: calc(20/10) * 1rem;
  width: calc(24/20) * 1em;
}
.icon-cc {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}
.icon-check {
  font-size: calc(10/10) * 1rem;
  width: calc(12/10) * 1em;
}
.icon-cityprojects {
  font-size: calc(60/10) * 1rem;
  width: calc(193/60) * 1em;
}
.icon-decline {
  font-size: calc(12/10) * 1rem;
  width: calc(12/12) * 1em;
}
.icon-edit {
  font-size: calc(20/10) * 1rem;
  width: calc(20/20) * 1em;
}
.icon-heat {
  font-size: calc(28/10) * 1rem;
  width: calc(28/28) * 1em;
}
.icon-hq {
  font-size: calc(32/10) * 1rem;
  width: calc(176/32) * 1em;
}
.icon-layers {
  font-size: calc(18/10) * 1rem;
  width: calc(18/18) * 1em;
}
.icon-location {
  font-size: calc(24/10) * 1rem;
  width: calc(20/24) * 1em;
}
.icon-location-arrow {
  font-size: calc(19/10) * 1rem;
  width: calc(18/19) * 1em;
}
.icon-man {
  width: 32px;
  height: 32px;
}
.icon-map {
  font-size: calc(20/10) * 1rem;
  width: calc(20/20) * 1em;
}
.icon-motorbike {
  font-size: calc(14/10) * 1rem;
  width: calc(24/14) * 1em;
}
.icon-pedestrian {
  font-size: calc(22/10) * 1rem;
  width: calc(11/22) * 1em;
}
.icon-photo {
  font-size: calc(12/10) * 1rem;
  width: calc(16/12) * 1em;
}
.icon-pin {
  font-size: calc(50/10) * 1rem;
  width: calc(36/50) * 1em;
}
.icon-pointer {
  font-size: calc(37/10) * 1rem;
  width: calc(54/37) * 1em;
}
.icon-profile {
  font-size: calc(19/10) * 1rem;
  width: calc(17/19) * 1em;
}
.icon-profile-circle {
  font-size: calc(24/10) * 1rem;
  width: calc(24/24) * 1em;
}
.icon-question {
  font-size: calc(31.36/10) * 1rem;
  width: calc(31.36/31.36) * 1em;
}
.icon-search {
  font-size: calc(20/10) * 1rem;
  width: calc(20/20) * 1em;
}
.icon-telegram {
  font-size: calc(20/10) * 1rem;
  width: calc(24/20) * 1em;
}
.icon-twitter {
  font-size: calc(18/10) * 1rem;
  width: calc(22/18) * 1em;
}
.icon-videocamera {
  font-size: calc(20/10) * 1rem;
  width: calc(20/20) * 1em;
}
.icon-warning {
  font-size: calc(20/10) * 1rem;
  width: calc(19/20) * 1em;
}
.icon-wheel {
  font-size: calc(22/10) * 1rem;
  width: calc(22/22) * 1em;
}
.icon-zones {
  font-size: calc(162/10) * 1rem;
  width: calc(20/162) * 1em;
}
