.filter-panel {
  width: 400px;
  background: $white;
  box-shadow: 0px 5px 15px #d4dadd;
  border-radius: 8px;
  pointer-events: all;
  margin: 20px;
  position: absolute;
  max-height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  z-index: 120;

  .btn-hideFilter {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0px 3px 8px #d4dadd;
  }

  @media screen and (max-width: 800px) {
    max-height: calc(100% - 120px);
    margin-top: 50px;
    margin-left: 8px;
  }

  @media screen and (max-width: 420px) {
    width: calc(100% - 20px);
  }
}

.filter-panel-normal {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 26px;
  overflow: auto;
}

.filter-panel-hidden {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 38px;

  @media screen and (max-width: 800px) {
    padding: 6px 16px;
    padding-bottom: 15px;
  }
}

.filter-panel-category {
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: 0;

  .category-value {
    display: flex;
    align-items: flex-start;
  }
  .value-preview {
    margin-left: 7px;
    @include mq("800") {
      margin-top: -2px;
    }
  }
  .panel-content {
    padding: 0 8px 0 0;
    overflow: auto;
    margin-top: 20px;
    max-height: calc(100vh - 240px);
  }
}

.filter-item:not(:first-child) {
  margin-top: 20px;
}

.category-value:not(:first-child) {
  margin-top: 16px;
}

.severity-item:not(:first-child) {
  margin-top: 10px;
}

.filter-item {
  .subtitle2 {
    margin-bottom: 12px;
    color: $greyDark;
  }
}

.filter-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #18334a;
}

.participant-filter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  grid-auto-rows: 65px;

  @include mq("1440") {
    grid-auto-rows: 60px;
  }
}

.participant-item {
  align-items: center;
  background: $greyLight;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4px;
  transition: background 0.3s ease, color 0.3s ease;

  @include mq("1440") {
    padding: 8px;
  }

  &:hover,
  &.active {
    background: $grey70;
    color: $white;
    object {
      filter: invert(1) grayscale(1) brightness(2);
    }
    .subtitle3 {
      color: $white;
    }
  }

  &:focus-visible {
    box-shadow: 0 0 0 1px $greyDark;
  }

  object {
    pointer-events: none;
    max-width: 24px;
    max-height: 22px;
  }

  .subtitle3 {
    font-size: 10px;
    text-align: center;
    color: $greyDark;
    @include mq("1440") {
      font-size: calc(3rem / 4);
    }
  }
}
