.text {
  font-style: normal;
  color: $grey50;
}

.subtitle1 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.15px;
}

.subtitle2 {
  font-weight: 500;
  font-size: calc(7rem / 8);
  line-height: calc(5rem / 4);
  letter-spacing: 0.15px;
}

.subtitle3 {
  font-weight: 500;
  font-size: calc(3rem / 4);
  line-height: 1rem;
}

.caption {
  font-weight: 500;
  font-size: calc(9rem / 8);
  line-height: calc(3rem / 2);
  letter-spacing: 0.15px;
}

.body1 {
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 1.5rem;

  @include mq('768') {
    font-size: 1rem;
  }
}

.body2 {
  font-weight: normal;
  font-size: calc(7rem / 8);
  line-height: 1.25rem;
  letter-spacing: 0.15px;
}

.body3 {
  font-weight: normal;
  font-size: calc(3rem / 4);
  line-height: 1rem;
}

.bodySerif {
  font-family: Merriweather, Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: calc(9rem / 8);
  line-height: calc(7rem / 4);
}

.h1 {
  font-weight: bold;
  font-size: calc(15rem / 8);
  line-height: 2.2rem;
  @include mq('1440') {
    line-height: 3rem;
  }
}

.h2 {
  font-weight: bold;
  font-size: calc(13rem / 8);
  line-height: calc(5rem / 2);
}

.h3 {
  font-size: 1rem;
  font-size: calc(5rem / 4);
  font-weight: bold;
  letter-spacing: -0.4px;
  line-height: 1rem;
  @include mq('1440') {
    line-height: calc(7rem / 4);
    font-size: calc(5rem / 4);
  }
}
